{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}


{% block body %}
	<div class="wrapper">
		<form method="post" class="login-form">
			{% if error %}
				<div class="login-form__alert login-form__alert--error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			{% if app.user %}
				<div class="login-form__user-info">
					You are logged in as
					{{ app.user.userIdentifier }},
					<a href="{{ path('app_logout') }}" class="login-form__logout-link">Logout</a>
				</div>
			{% endif %}

			<h1 class="login-form__title">Please sign in</h1>
			<div class="login-form__field">
				<label for="username" class="login-form__label">Email</label>
				<input type="email" value="{{ last_username }}" name="_username" id="username" autocomplete="email" required autofocus class="login-form__input">
			</div>
			<div class="login-form__field">
				<label for="password" class="login-form__label">Password</label>
				<input type="password" name="_password" id="password" autocomplete="current-password" required class="login-form__input">
			</div>

			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" class="login-form__csrf">

			<button type="submit" class="login-form__button">Sign in</button>
		</form>
	</div>
{% endblock %}


{#
												            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
												            See https://symfony.com/doc/current/security/remember_me.html
												
												            <div class="checkbox mb-3">
												                <label>
												                    <input type="checkbox" name="_remember_me"> Remember me
												                </label>
												            </div>
												        #}
