{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<h1 class="registration__title">Register</h1>

	<div class="registration__errors">
		{{ form_errors(registrationForm) }}
	</div>

	{{ form_start(registrationForm, {'attr': {'class': 'registration__form'}}) }}

	<div class="registration__field">
		{{ form_row(registrationForm.email, {'attr': {'class': 'registration__input'}}) }}
	</div>

	<div class="registration__field">
		{{ form_row(registrationForm.customer.name, {'attr': {'class': 'registration__input'}}) }}
	</div>

	<div class="registration__field">
		{{ form_row(registrationForm.customer.age, {'attr': {'class': 'registration__input'}}) }}
	</div>

	<div class="registration__field">
		{{ form_row(registrationForm.plainPassword, {
        'label': 'Password',
        'attr': {'class': 'registration__input'}
    }) }}
	</div>

	<div class="registration__checkbox">
		{{ form_row(registrationForm.agreeTerms, {'attr': {'class': 'registration__checkbox-input'}}) }}
	</div>

	<button type="submit" class="registration__button">Register</button>
	{{ form_end(registrationForm) }}
{% endblock %}
