<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>"> {% block stylesheets %}{% endblock %}
		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		<header>
			<nav class="navbar">
				<div class="navbar__logo">
					<a
						href="{{ path('app_home') }}" class="links">
						<!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
						<svg class=" logo" width=" 70px" height=" 70px" viewbox=" 0 0 64 64" xmlns=" http://www.w3.org/2000/svg" xmlns:xlink=" http://www.w3.org/1999/xlink">
							<defs>
								<clipPath id="clip-Artboard_6">
									<rect width="64" height="64"/>
								</clipPath>
							</defs>
							<g id="Artboard_6" data-name="Artboard 6" clip-path="url(#clip-Artboard_6)">
								<g id="Layer_7" data-name="Layer 7" transform="translate(0 -84)">
									<g id="Group_1128" data-name="Group 1128">
										<path id="Path_802" data-name="Path 802" d="M9.01,108.824l.015,18.033.907.928,25.616.254,2.473,1.056s11.452,2.8,15.586-6.242S50.2,107.989,50.2,107.989s-5.569-4.317-11.621-1.8l-1.916-3.356-1.934-.809-10.946.149-1.138,1.205-1.858,4.246-1.943.014-.453-.258-1.438-1.742-3.834-.53L11.8,106.485l-.719.839-1.2.419" fill="#51dacf"/>
										<path id="Path_803" data-name="Path 803" d="M12,128V107.637l-1.741.106L9.08,109.3l.36,17.915" fill="#76f4e8"/>
										<path id="Path_804" data-name="Path 804" d="M14,108v-3.363l-2,2.087V108" fill="#76f4e8"/>
										<path id="Path_805" data-name="Path 805" d="M24.122,103.615l.218.9,2.745.088,8.347-.178.535-.211L35.4,104H25" fill="#76f4e8"/>
										<path id="Path_806" data-name="Path 806" d="M22.88,107.563l1.42-3.143-.419-.6.553-.553.3-.02.719-1.258-1.678.18-1.737,1.917-1.258,3.535" fill="#76f4e8"/>
										<circle id="Ellipse_83" data-name="Ellipse 83" cx="6.072" cy="6.072" r="6.072" transform="translate(36.697 111.536)" fill="none" stroke="#76f4e8" stroke-miterlimit="10" stroke-width="1"/>
										<path id="Path_807" data-name="Path 807" d="M18.338,107.916l.046,19.858L20,127.754V108" fill="#47aed6"/>
										<path id="Path_808" data-name="Path 808" d="M15.93,105.348,15.84,108h2l.307-1.274-1.019-1.2" fill="#47aed6"/>
										<path id="Path_809" data-name="Path 809" d="M34.324,102.171l.719.9.659.6.06.539,1.2,2.756,1.318-.839-.539-2.037-1.5-1.8" fill="#47aed6"/>
										<circle id="Ellipse_84" data-name="Ellipse 84" cx="9.346" cy="9.346" r="9.346" transform="translate(33.425 108.103)" fill="none" stroke="#47aed6" stroke-miterlimit="10" stroke-width="1"/>
										<path id="Path_810" data-name="Path 810" d="M30,108v19.637l5.422.3-2.6-3L31,119.187v-2.549l1.007-4.7,3.275-4.073" fill="#47aed6"/>
										<g id="Group_1127" data-name="Group 1127">
											<g id="Group_1126" data-name="Group 1126">
												<path id="Path_811" data-name="Path 811" d="M35.87,127.818H10.67a1.509,1.509,0,0,1-1.51-1.511v-17.34a1.508,1.508,0,0,1,1.51-1.509h25.2" fill="none" stroke="#1a2f4b" stroke-miterlimit="10" stroke-width="1"/>
												<path id="Path_812" data-name="Path 812" d="M38.43,106.158a12.084,12.084,0,0,1,4.19-.741,12.229,12.229,0,1,1-8.25,3.21,12.076,12.076,0,0,1,1.5-1.169A11.809,11.809,0,0,1,38.43,106.158Z" fill="none" stroke="#1a2f4b" stroke-miterlimit="10" stroke-width="1"/>
												<path id="Path_813" data-name="Path 813" d="M47.83,111.118a8.1,8.1,0,1,1-5.11-1.811A8.071,8.071,0,0,1,47.83,111.118Z" fill="none" stroke="#1a2f4b" stroke-miterlimit="10" stroke-width="0.75"/>
												<path id="Path_814" data-name="Path 814" d="M11.34,107.637a1.075,1.075,0,0,1,.01-.179,2.5,2.5,0,0,1,2.49-2.321h2a2.5,2.5,0,0,1,2.49,2.321,1.075,1.075,0,0,1,.01.179v20.28" fill="none" stroke="#1a2f4b" stroke-miterlimit="10" stroke-width="0.75"/>
												<path id="Path_815" data-name="Path 815" d="M20.66,107.458l1.71-3.77a2.829,2.829,0,0,1,2.58-1.671h9.78a2.829,2.829,0,0,1,2.58,1.671l1.12,2.47" fill="none" stroke="#1a2f4b" stroke-miterlimit="10" stroke-width="0.75"/>
											</g>
										</g>
										<circle id="Ellipse_85" data-name="Ellipse 85" cx="3.686" cy="3.686" r="3.686" transform="translate(39.168 113.739)" fill="#1a2f4b"/>
										<circle id="Ellipse_86" data-name="Ellipse 86" cx="1.419" cy="1.419" r="1.419" transform="translate(42.356 115.006)" fill="#ffffff" opacity="0.5"/>
										<rect id="Rectangle_178" data-name="Rectangle 178" width="12.069" height="1.106" rx="0.553" transform="translate(23.881 103.27)" fill="none" stroke="#1a2f4b" stroke-miterlimit="10" stroke-width="0.75"/>
										<circle id="Ellipse_87" data-name="Ellipse 87" cx="0.763" cy="0.763" r="0.763" transform="translate(43.829 115.058)" fill="#ffffff" opacity="0.5"/>
									</g>
								</g>
							</g>
						</svg>
					</a>
				</div>
				<ul class="navbar__menu">
					<li class="navbar__item">
						<a href="{{ path('app_home') }}" class="links">Accueil</a>
					</li>
					<li class="navbar__item" class="links">
						<a href="#" class="links">Photos</a>
					</li>
					{# if connected then only display logout, else display login and register #}
					{% if app.user %}
						<li class="navbar__item">
							<p>Bonjour
								{{ app.user.customer.name }}
							</p>
						</li>
						<li class="navbar__item">
							<div class="dropdown">
								<button onclick="toggleDropdown()" class="dropbtn">
									<?xml
									version="1.0" encoding="utf-8"?>
									<!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
									<svg xmlns="http://www.w3.org/2000/svg" fill="#000000" width="30px" height="30px" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z"/></svg>
								</button>
								<div id="myDropdown" class="dropdown-content">
									<a href="{{ path('app_user_show', { 'id': app.user.id }) }}">Profil</a>
									<a href="#">Paramètres</a>
									<hr>
										<a href="{{ path('app_logout') }}">
											<?xml
											version="1.0" encoding="utf-8"?>
											<!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
											<svg width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path fill-rule="evenodd" clip-rule="evenodd" d="M19 23H11C10.4477 23 10 22.5523 10 22C10 21.4477 10.4477 21 11 21H19C19.5523 21 20 20.5523 20 20V4C20 3.44772 19.5523 3 19 3L11 3C10.4477 3 10 2.55229 10 2C10 1.44772 10.4477 1 11 1L19 1C20.6569 1 22 2.34315 22 4V20C22 21.6569 20.6569 23 19 23Z" fill="#000000"/>
												<path fill-rule="evenodd" clip-rule="evenodd" d="M2.48861 13.3099C1.83712 12.5581 1.83712 11.4419 2.48862 10.6902L6.66532 5.87088C7.87786 4.47179 10.1767 5.32933 10.1767 7.18074L10.1767 9.00001H16.1767C17.2813 9.00001 18.1767 9.89544 18.1767 11V13C18.1767 14.1046 17.2813 15 16.1767 15L10.1767 15V16.8193C10.1767 18.6707 7.87786 19.5282 6.66532 18.1291L2.48861 13.3099ZM4.5676 11.3451C4.24185 11.7209 4.24185 12.2791 4.5676 12.6549L8.1767 16.8193V14.5C8.1767 13.6716 8.84827 13 9.6767 13L16.1767 13V11L9.6767 11C8.84827 11 8.1767 10.3284 8.1767 9.50001L8.1767 7.18074L4.5676 11.3451Z" fill="#000000"/>
											</svg>
											Logout
										</a>
									</div>
								</div>
							</div>
						</li>
						<li class="navbar__item">

							<a href="{{ path('app_cart_show') }}" class="links">
								<div class="navbar__cart">
									{% set sessionCart = app.session.get('cart', {}) %}
									{# J'initialise une variable pour stocker la quantité totale de la session #}
									{% set sessionCartTotalQuantity = 0 %}
									{# Je parcours tous les éléments du tableau de session #}
									{% for item in sessionCart %}
										{# J'ajoute la quantité de chaque produit à la variable sessionCartTotalQuantity #}
										{% set sessionCartTotalQuantity = sessionCartTotalQuantity + item.quantity %}
									{% endfor %}
									<p id="cart_quantity">{{ sessionCartTotalQuantity }}</p>


									<svg class="navbar__svg" width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M7.5 18C8.32843 18 9 18.6716 9 19.5C9 20.3284 8.32843 21 7.5 21C6.67157 21 6 20.3284 6 19.5C6 18.6716 6.67157 18 7.5 18Z" stroke-width="1.5"/>
										<path d="M16.5 18.0001C17.3284 18.0001 18 18.6716 18 19.5001C18 20.3285 17.3284 21.0001 16.5 21.0001C15.6716 21.0001 15 20.3285 15 19.5001C15 18.6716 15.6716 18.0001 16.5 18.0001Z" stroke-width="1.5"/>
										<path d="M2 3L2.26121 3.09184C3.5628 3.54945 4.2136 3.77826 4.58584 4.32298C4.95808 4.86771 4.95808 5.59126 4.95808 7.03836V9.76C4.95808 12.7016 5.02132 13.6723 5.88772 14.5862C6.75412 15.5 8.14857 15.5 10.9375 15.5H12M16.2404 15.5C17.8014 15.5 18.5819 15.5 19.1336 15.0504C19.6853 14.6008 19.8429 13.8364 20.158 12.3075L20.6578 9.88275C21.0049 8.14369 21.1784 7.27417 20.7345 6.69708C20.2906 6.12 18.7738 6.12 17.0888 6.12H11.0235M4.95808 6.12H7" stroke-width="1.5" stroke-linecap="round"/>
									</svg>

								</div>
							</a>
						</li>
					{% else %}
						<li class="navbar__item">
							<a href="{{ path('app_register')}}" class="links">Register</a>
						</li>
						<li class="navbar__item">
							<a href="{{ path('app_login') }}" class="links">
								<?xml
								version="1.0" encoding="utf-8"?>
								<!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
								<svg class="navbar__svg" width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M20 23L12 23C11.4477 23 11 22.5523 11 22C11 21.4477 11.4477 21 12 21L20 21C20.5523 21 21 20.5523 21 20L21 4C21 3.44771 20.5523 3 20 3L12 3C11.4477 3 11 2.55228 11 2C11 1.44772 11.4477 1 12 1L20 0.999999C21.6569 0.999999 23 2.34315 23 4L23 20C23 21.6569 21.6569 23 20 23Z" fill="#0F0F0F"/>
									<path fill-rule="evenodd" clip-rule="evenodd" d="M18.6881 10.6901C19.3396 11.4418 19.3396 12.5581 18.6881 13.3098L14.5114 18.1291C13.2988 19.5282 11 18.6707 11 16.8193L11 15L5 15C3.89543 15 3 14.1046 3 13L3 11C3 9.89541 3.89543 8.99998 5 8.99998L11 8.99998L11 7.18071C11 5.3293 13.2988 4.47176 14.5114 5.87085L18.6881 10.6901ZM16.6091 12.6549C16.9348 12.279 16.9348 11.7209 16.6091 11.345L13 7.18071L13 9.49998C13 10.3284 12.3284 11 11.5 11L5 11L5 13L11.5 13C12.3284 13 13 13.6716 13 14.5L13 16.8193L16.6091 12.6549Z" fill="#0F0F0F"/>
								</svg>
							</a>
						</li>
					{% endif %}
				</ul>
			</nav>
		</header>
		<main>
			{% block body %}{% endblock %}
		</main>
		<footer>
			<p>&copy; 2024 Mon E-commerce. Tous droits réservés.</p>
		</footer>
	</body>
</html></html>
