{% extends 'base.html.twig' %}

{% block title %}Order Index
{% endblock %}

{% block body %}
	<div class="wrapper">
		<h1 class="order-index__title">Vos commandes</h1>

		<table class="order-index__table">
			<thead>
				<tr class="order-index__row order-index__row--header">
					<th class="order-index__header">Id</th>
					<th class="order-index__header">Delivery Address</th>
					<th class="order-index__header">Created At</th>
					<th class="order-index__header">Modified At</th>
					<th class="order-index__header">Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for order in orders %}
					<tr class="order-index__row">
						<td class="order-index__data">{{ order.id }}</td>
						<td class="order-index__data">{{ order.deliveryAddress }}</td>
						<td class="order-index__data">{{ order.createdAt ? order.createdAt|date('Y-m-d H:i:s') : '' }}</td>
						<td class="order-index__data">{{ order.modifiedAt ? order.modifiedAt|date('Y-m-d H:i:s') : '' }}</td>
						<td class="order-index__data">
							<a href="{{ path('app_order_show', {'id': order.id}) }}" class="order-index__link">show</a>
						</td>
					</tr>
				{% else %}
					<tr class="order-index__row">
						<td colspan="5" class="order-index__data--empty">No records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
