{% extends 'base.html.twig' %}

{% block title %}User
{% endblock %}

{% block body %}
	<div class="user">
		<h1 class="user__title">User Details</h1>

		<table class="user__table">
			<tbody>
				<tr class="user__row">
					<th class="user__header">Email</th>
					<td class="user__data">{{ user.email }}</td>
				</tr>
				<tr class="user__row">
					<th class="user__header">Name</th>
					{% if user.customer is not null %}
						<td class="user__data">{{ user.customer.name }}</td>
					{% endif %}
				</tr>
				<tr class="user__row">
					<th class="user__header">Age</th>
					{% if user.customer is not null %}
						<td class="user__data">{{ user.customer.age }}</td>
					{% endif %}
				</tr>
			</tbody>
		</table>

		<div class="user__actions">
			<a href="{{ path('app_user_edit', {'id': user.id}) }}" class="user__card user__card--edit">
				<span class="user__card-title">Edit Profile</span>
			</a>

			<a href="{{ path('app_order_index') }}" class="user__card user__card--orders">
				<span class="user__card-title">My Orders</span>
			</a>
		</div>
	</div>
{% endblock %}
